# String

# Practice

1 - create three variables holding one character

In [1]:
a_1 = 'A'
a_2 = 'B'

In [2]:
a_3 = 'C'

2 - create three words

In [3]:
wrd_1 = 'Word1'
wrd_2 = 'Word2'
wrd_3 = 'Word3'

3 - create three sentence

In [4]:
Sent_1 = 'Welcome to Python '
Sent_2 = 'Python is powerful language'
Sent_3 = 'Machine Learning Course'

 4 - check the type and the ID of each variable

In [5]:
print(type(a_1),id(a_1))
print(type(a_2),id(a_2))
print(type(a_3),id(a_3))

<class 'str'> 1574544495480
<class 'str'> 1574544122520
<class 'str'> 1574544122408

In [6]:
print(type(wrd_1),id(wrd_1))
print(type(wrd_2),id(wrd_2))
print(type(wrd_3),id(wrd_3))

<class 'str'> 1574584767464
<class 'str'> 1574584767408
<class 'str'> 1574584766736

In [7]:
print(type(Sent_1),id(Sent_1))
print(type(Sent_2),id(Sent_2))
print(type(Sent_3),id(Sent_3))

<class 'str'> 1574584744528
<class 'str'> 1574584726272
<class 'str'> 1574584647160

5 - lower the case of a lowercase string variable

In [8]:
print(Sent_1.lower())
print(Sent_2.lower())
print(Sent_3.lower())

welcome to ptython
python is powerful language
machine learning course

6 - Upper the case of an uppercase  string variable

In [12]:
print(Sent_1.upper())
print(Sent_2.upper())
print(Sent_3.upper())

WELCOME TO PTYTHON
PYTHON IS POWERFUL LANGUAGE
MACHINE LEARNING COURSE

# Numbers

1- create three integers and check the type and the id

In [14]:
a = 10 
b = 12 
c = 14 


print(type(a), id(a))
print(type(b), id(b))
print(type(c), id(c))

<class 'int'> 140727614280800
<class 'int'> 140727614280864
<class 'int'> 140727614280928

2- create three floats and check the type and the id

In [16]:
x = 10.4
y = 12.87
z = 14.543


print(type(x), id(x))
print(type(y), id(y))
print(type(z), id(z))

<class 'float'> 1574616564264
<class 'float'> 1574616564408
<class 'float'> 1574616564360

3 - Convert an integer into float

In [17]:
a = float(a)

a

10.0

4 - Convert a float into an integer

In [18]:
x = int(x) 
x

10

# List

1 - create three lists

In [19]:
courses = ['computer','language']
levels = ['A' , 'B']
grade = [10 , 20]

2- create a list its elements are lists

In [20]:
List = courses + levels + grade

In [21]:
List

['computer', 'language', 'A', 'B', 10, 20]

3 - Save the names of yours students as a list

In [22]:
student_names = ['Ahmed ', 'Mohamed','Badr']

4 - Save the subjects you teach as a list

In [23]:
subject = ['math', 'science','Art']

5 - Think of other cases where lists are the choise for storing your objects

In [24]:
subject += ['languages']

In [25]:
subject

['math', 'science', 'Art', 'languages']